@import "./assets/css/loader.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
background : rgb(24 24 27) TW: zinc-900
lighter-background : rgb(39 39 42) TW: zinc-800
text-white : color: rgb(238 242 255) TW: indigo-50
accent : rgb(79 70 229) TW: indigo-600
*/

body {
  background-color: rgb(24 24 27);
  color: rgb(238 242 255);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #313131;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #515151;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1f1f1f;
}

#close-details {
  transition: padding 0.2s ease;
}

#close-details:hover {
  padding: 10px 17px;
}
